@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Bebas+Neue&display=swap');

body{
    text-align: center;
    background-color: #949494;
    font-family: "Bebas Neue", sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    color: #e1f4ff;;
    font-size: 2rem;
}

label, input{
    font-size: 1rem;
    text-align: center;
}

.tipo{
    color: #ffffff;
    font-size: 1.5rem;
}

button, select{
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    background-color: #242424;
    border-radius: 8px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

button:hover{
    color: #209fe9;
}

#resposta{
    font-size: 1.25rem;
    color: #fff;
}